<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-secondary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  How it works
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          How RandomLibs Works!
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Random Libs takes Mad Libs to a more nonsensical approach. First you
        fill out the fields with whatever adjective, place, verb, or person that
        you want. After clicking submit, you will receive a random story with
        your fields randomly filled in. You may get a noun where a verb was
        supposedto be or vise versa. Now you can have hilarity with stories that
        make even less sense than their mad libs counterparts!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
